<a href="https://colab.research.google.com/github/liamlindy/liamlindy.github.io/blob/master/hw03_llindy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Liam Lindy
## Homework 3 - Classification
## Data Mining and Machine Learning (CSC401)
## Dr. Spurlock
### April 8, 2020

## 1. Setup
refer to header and file name 

## 2. Classification Using Scikit-learn

### 2a. Loading and Pre-processing
##### Import Statements

In [6]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import confusion_matrix

import pylab as plt
%matplotlib inline

import nltk
import string

from collections import Counter

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

##### Reading Data In

In [8]:
path = '/content/drive/My Drive/Colab Notebooks/bank_data.csv'

data = pd.read_csv(path, sep=',')
data.head()

        id  age   income  children  ... savings_acct current_acct mortgage  pep
0  ID12101   48  17546.0         1  ...           NO           NO       NO  YES
1  ID12102   40  30085.1         3  ...           NO          YES      YES   NO
2  ID12103   51  16575.4         0  ...          YES          YES       NO   NO
3  ID12104   23  20375.4         3  ...           NO          YES       NO   NO
4  ID12105   57  50576.3         0  ...          YES           NO       NO   NO

[5 rows x 12 columns]

##### Pre-processing

In [0]:
# setting pep as the target
target = data['pep']

# converting all to numerics
# renamed to df to keep `data` alive that includes pep
df = pd.get_dummies(data[['age','income','children','gender','region','married','car','savings_acct','mortgage']])

# standardizing income
# do min-max normalization
norm_df = (df - df.mean())/df.std()
print(norm_df)


# confirming that all are numerics
print(df.dtypes)

# TODO need to randomize the IDs 
#df = data.reindex(np.random.permutation(data['age']))

# showing a few rows of the df
df.head()

##### Creating Training and Test Sets

In [0]:
# setting the training percent and size
tpercent = 0.8

# defining the training and test sets with scikit-learn
data_train, data_test, target_train, target_test = train_test_split(df, target, test_size=tpercent, random_state=58)

# confirming our results 
print(data_train.shape)
print(data_test.shape)

### 2b. Use Scikit-learn's KNN Classifier

##### Creating the KNN

In [0]:

# day nine tutorial: https://drive.google.com/file/d/1R8X6NJUzXWnZbGRiHKXT54xup47JkvV5/view
# creating and viewing the Confusion Matrix

# all the sklearn classififers work very similarly 
# will be very similar to the decision tree lab 

# look at the grading comments from last year 


sklearn.neighbors.KNeighborsClassifier